<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Recetas.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>55F9E8A21DDDB08E00B2D0E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55F9E8B61DDDB08E00B2D0E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55F9E8C11DDDB08E00B2D0E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
